.main-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid $lightest-blue;

  margin-bottom: 20px;
}
.left-nav {
  display: flex;
}


.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav > ul > li {
  display: inline;
  margin-left: 15px;
  
}

.right-nav > ul > li {
  display: inline;
  justify-content: center;
  margin-right: 15px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

  
}

.left-nav span {

}


.right-nav i {

}